<!DOCTYPE html>
<html>
<head>
  <title>Rails4ruby2example</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div style="border-bottom: 1px black solid; width: 100%; margin-top: 150px"> 
</div>

<p><a href='https://support.anynines.com/home' target='_blank'>Anynines Support</a><p>
<p><a href='http://blog.anynines.com' target='_blank'>Anynines Blog</a><p>	
	
</body>
</html>
